@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

body {
  @apply min-h-screen  bg-neutral-900 text-neutral-100;
}

main {
  @apply bg-gradient-to-br from-[#2F3E46] to-[#52796F];
}

#content {
  @apply md:m-auto md:max-w-6xl md:py-10;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/hero.jpg") no-repeat center center;
}

@media screen and (min-width: 768px) {
  #hero {
    background: url("/hero.jpg") no-repeat center center;
  }
}

nav {
  @apply md:mx-auto md:max-w-6xl;
}

h1 {
  @apply mb-2 font-jost text-3xl font-bold;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl font-bold;
}

p {
  @apply mb-4;
}

ol {
  @apply list-inside list-decimal;
}

label {
  @apply inline-block font-jost text-xs font-bold uppercase tracking-wider;
}

.build-info label {
  @apply mb-0;
}

input,
textarea,
select,
.grouped-dropdown {
  @apply block w-full rounded-md bg-black bg-opacity-50 px-4 py-2 placeholder-neutral-300 transition-all;
}

input:focus,
textarea:focus,
select:focus,
.grouped-dropdown:focus {
  @apply outline outline-orange-500;
}

*::-webkit-scrollbar {
  width: 1em;
  background: none;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  @apply bg-orange-600;
  border-radius: 999px;
}
