@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

body {
  @apply min-h-screen bg-gradient-to-br from-[#2F3E46] to-[#52796F] text-neutral-100;
}

h1 {
  @apply mb-2 font-jost text-3xl font-bold;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl font-bold;
}

label {
  @apply mb-2 inline-block font-jost text-xs font-bold uppercase tracking-wider;
}

.build-info label {
  @apply mb-0;
}

input,
textarea,
select,
.grouped-dropdown {
  @apply block w-full rounded-md bg-black bg-opacity-30 px-4 py-2 placeholder-neutral-300;
}

input:focus,
textarea:focus,
select:focus,
.grouped-dropdown:focus {
  @apply outline outline-orange-500;
}

button {
  @apply mb-2 w-full rounded-md border border-orange-600 bg-orange-600 px-4 py-2 font-bold tracking-wide text-white;
}

button.secondary {
  @apply border border-orange-600 bg-transparent;
}

button.tertiary {
  @apply border-0 bg-transparent transition-all hover:border-b-orange-600 hover:text-orange-600;
}

.panel button:last-of-type {
  @apply mb-0;
}
